*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: #bdd6c6;
}
.list-box{
    margin: 7em 35em auto 35em;
    background-color: #a2c8a7;
}
.filter-select {
    margin: 2% 3% 2% 3%;
    width: 4em;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    border: 0.5px solid black;
    background-color: #b7d7bd;
}
.heading{
    margin: 3% 4% 2% 4%;
    font-family: 'Lato', sans-serif;
    font-size: 3em;
}
.item-list{
    margin: 2% 3% 2% 3%;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
}
